/***** Skrollr *****/

html, body {width:100%; height:100%; overflow-x:hidden;}
.skrollable {position:fixed;/* First-level skrollables are positioned relative to window */ z-index:100;/* Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable */}
.skrollable.unrendered {display:none !important;}
.skrollable .skrollable {position:absolute;}
/*.skrollable .skrollable .skrollable {position:static;}*/

/***** Font Face *****/

@font-face {
	font-family:'NobelLightRegular';
	src:url('fonts/nlight-webfont.eot');
	src:url('fonts/nlight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/nlight-webfont.woff') format('woff'), url('fonts/nlight-webfont.ttf') format('truetype'), url('fonts/nlight-webfont.svg#NobelLightRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'NobelRegular';
	src:url('fonts/nregular-webfont.eot');
	src:url('fonts/nregular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/nregular-webfont.woff') format('woff'), url('fonts/nregular-webfont.ttf') format('truetype'), url('fonts/nregular-webfont.svg#NobelRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'NobelBoldRegular';
	src:url('fonts/nbold-webfont.eot');
	src:url('fonts/nbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/nbold-webfont.woff') format('woff'), url('fonts/nbold-webfont.ttf') format('truetype'), url('fonts/nbold-webfont.svg#NobelBoldRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/***** General *****/

body {font-family:'NobelLightRegular'; font-size:24px; color:#000; -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; font-smoothing:antialiased; background-attachment:fixed;}
::selection {color:#fff; background:#333;}
::-moz-selection {color:#fff; background:#333;}
a, a:hover, a:link, a:visited {color:#002bc0; text-decoration:none;}
.hidden {display:none;}
img[src$=".gif"], img[src$=".png"] {image-rendering:optimizeQuality; -ms-interpolation-mode:bicubic;}

/***** Main Navigation *****/

.nav-main {width:100%; height:77px; background:url('../img/nav-bg.jpg') repeat-x 0 0; position:fixed; top:0; left:0; z-index:1000;}
.nav-main .wrapper {width:990px; height:77px; margin:0 auto;}
.nav-main .logo-lexus {width:246px; height:77px; margin-left:10px; float:left;}
.navigation {font-size:19px; line-height:77px; float:right;}
.navigation li {text-align:center; background:url('../img/nav-line.gif') no-repeat right 31px; padding-right:1px; float:left; position:relative;}
.navigation li.last {background:none;}
.navigation li a {color:#000; background:none; -webkit-transition:background-color .3s ease-in-out; -moz-transition:background-color .3s ease-in-out; -o-transition:background-color .3s ease-in-out; transition:background-color .3s ease-in-out; padding:0 28px; display:block;}
.navigation li.current a {color:#4b8fe3;}
.navigation li a:hover {color:#000; background:#e4e4e4;/*background:#e4e4e4 url('../img/nav-arrow-down.png') no-repeat center 13px;*/}
.navigation li ul {line-height:1.2; background-color:#e4e4e4; display:none;}
.navigation li:hover ul {background-color:#e4e4e4; display:block;}
.navigation li:hover a {color:#000; background:#e4e4e4;}
.navigation li ul {padding-bottom:16px;}
.navigation li ul li {background:none; padding:12px 12px 16px; float:none; display:block;}
.navigation li ul li.first {padding-top:0;}
.navigation li ul li:hover, .navigation li ul li.current {background:url('../img/nav-arrow-up.png') no-repeat center bottom !important;}
.navigation li ul li a {color:#000; background:none !important; border-bottom:1px dotted #000; padding:0; display:inline-block;}

/***** Framework *****/

/* Sections */
.section {width:100%; height:100%; opacity:0;}
.bg-sec {width:100%; height:100%; background-repeat:no-repeat; background-position:center top; position:absolute;}
.bg-sec.one {height:720px; background-image:url('../img/sec-01-bg.jpg'); background-color:#d4dbdb;}
.bg-sec.two {height:720px; background-image:url('../img/sec-02-bg.jpg'); background-color:#fff; z-index:10;}
.bg-sec.three-a {color:#fff; background-color:#010101; z-index:9;}
.bg-sec.three-b {background-image:url('../img/sec-03b-bg.jpg'); background-position:right bottom; background-color:#fff;}
.bg-sec.three-c {background-image:url('../img/sec-03c-bg.jpg'); background-position:right bottom; background-color:#fff;}
.bg-sec.three-d {color:#fff; background-image:url('../img/sec-03d-bg.jpg'); background-position:right center; background-color:#333;}
.bg-sec.three-e {background-image:url('../img/sec-03e-bg.jpg'); background-position:right bottom; background-color:#dfe6ec;}
.bg-sec.three-f {color:#fff; background-color:#000;}
.bg-sec.four {background-color:#000;}
.active {width:990px; height:620px; margin:0 auto; position:relative;}
.active.full-width {width:100%;}
.active.full-height {height:100%;}
.active.five {width:100%; height:100%; background:#253d5e url('../img/sec-05-bg.jpg') no-repeat center bottom;}
.invisible-full {width:100%; height:100%; position:absolute; top:0; left:0;}
h1, h2, h3 {letter-spacing:-.01em; white-space:nowrap;}
h1 {font-size:51px; line-height:1em; margin-bottom:.5em;}
h2 {font-size:36px; line-height:1.2em; margin-bottom:.5em;}
h3 {font-size:30px; line-height:1.2em;}
p {line-height:1.25em; margin-bottom:.85em;}
small {font-size:19px;}
sup {font-size:.6em; position:relative; top:-0.8em;}
.centered {width:100%; text-align:center;}
.txt-wrapper {width:100%;}
.bottom-triangle {width:100%; height:auto; left:0;}
.bottom-triangle.last {position:absolute; bottom:0;}
.bg-radial {width:100%; height:100%; background:url('../img/sec-03a-bg.png') no-repeat left center; position:absolute; *z-index:-1;}
.bg-dna {width:auto; height:100%; position:absolute; top:0; right:0; *z-index:-2;}
.dna-mini {width:109px; background:url(../img/sec-03-dna-mini.png) no-repeat left top;}
#img-adjusted1, #img-adjusted1s {top:-90%;}
#img-adjusted1.medium, #img-adjusted1s.medium {top:-60%;}
#img-adjusted1.small, #img-adjusted1s.small {top:-35%;}
#img-adjusted2, #img-adjusted2s {top:-82%;}
#img-adjusted2.medium, #img-adjusted2s.medium {top:-52%;}
#img-adjusted2.small, #img-adjusted2s.small {top:-32%;}
.car-sequence {margin-left:-640px; position:absolute; top:0; left:50%;}

/* Sliders */
.flexslider1 .slides > li, .flexslider2 .slides > li {display:none; -webkit-backface-visibility:hidden; position:relative;}
.flexslider1 {width:800px; left:95px;}
.flexslider1 h1 {padding:0 25px;}
.flexslider1 h1.year {font-size:220px; line-height:.8em; font-family:'NobelBoldRegular'; letter-spacing:-7px; color:#dfdfdf; margin:0; position:absolute; top:0; left:0; z-index:-1;}
.flexslider1 h3 {font-family:'NobelRegular'; margin-bottom:.35em; padding:0 25px;}
.flexslider1 p {margin-bottom:.5em; padding:0 0 0 25px;}
.flexslider1 img.car {opacity:0; filter:alpha(opacity=0); position:absolute; top:70px; right:-400px;}
.flexslider1 .slides > li {padding-top:380px;}
.flexslider1 .slides > li.first {padding-top:140px;}
.flexslider1 .slides > li.last {padding-top:135px;}
.flex-direction-nav a {width:53px; height:89px; text-indent:-9999px; background-image:url('../img/btn-arrow.png'); background-repeat:no-repeat; margin-top:-45px; position:absolute; top:50%; cursor:pointer; display:block;}
.flex-direction-nav a.flex-prev {background-position:left top;}
.flex-direction-nav a.flex-next {background-position:right top;}
.flex-direction-nav a.flex-disabled {display:none;}
.flexslider1 .flex-direction-nav a.flex-prev {left:-95px;}
.flexslider1 .flex-direction-nav a.flex-next {right:-95px;}
.flexslider2 {width:100%; height:100%;}
.gallery-carousel {width:100%; height:168px; background:url('../img/opacity-60.png') repeat\9; background:rgba(0, 0, 0, .6);}
.gallery-carousel .carousel {width:816px; margin:0 auto; padding-top:10px; position:relative;}
.gallery-carousel .slides {overflow:hidden;}
.gallery-carousel .slides li {width:126px !important; height:148px; margin:0 5px; float:left; *display:inline;}
.gallery-carousel .slides li a {height:148px; background:url('../img/gallery-thumb-frame.png') no-repeat left bottom; -webkit-transition:opacity .3s ease-in-out; -moz-transition:opacity .3s ease-in-out; -o-transition:opacity .3s ease-in-out; transition:opacity .3s ease-in-out; opacity:.5; filter:alpha(opacity=50); display:block;}
.gallery-carousel .slides li a:hover {opacity:1; filter:alpha(opacity=100);}
.gallery-carousel .slides li.flex-active-slide a {background-position:left top; opacity:1; filter:alpha(opacity=100);}
.gallery-carousel .slides li img {padding:9px 0 0 6px;}
.gallery-carousel .flex-direction-nav a {margin:0; top:38px;}
.gallery-carousel .flex-direction-nav a.flex-prev {left:-86px;}
.gallery-carousel .flex-direction-nav a.flex-next {right:-86px;}

/* Timeline */
.timeline-wrapper {width:422px; position:absolute; left:50%; margin-left:-211px; position:relative;}
#timeline-years {width:408px; font-size:20px; position:absolute; bottom:0; left:42px; overflow:hidden;}
#timeline-years li {width:68px; text-align:center; float:left;}
#timeline-years li a {color:#666; padding-bottom:20px; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out; display:block;}
#timeline-years li a:hover, #timeline-years li.flex-active a {color:#0e5fbd;}
#timeline-bar {width:100%; height:14px; background:url('../img/timeline-gray.png') no-repeat 0 0;}
#timeline-bar-current {width:41px; height:14px; background:url('../img/timeline-blue.png') no-repeat 0 0; position:absolute; bottom:0; left:0;}
#timeline-bar-current.c-1989 {width:82px;}
#timeline-bar-current.c-1994 {width:150px;}
#timeline-bar-current.c-2000 {width:218px;}
#timeline-bar-current.c-2006 {width:286px;}
#timeline-bar-current.c-2007 {width:354px;}
#timeline-bar-current.c-2013 {width:422px;}

/* Tooltip */
#tooltip {max-width:500px;}
#tooltip, #preview {color:#000; background:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; padding:6px 10px; opacity:.9; filter:alpha(opacity=90); display:none;}

/* Lightbox */
.features {width:860px;}
.features img {width:860px !important; height:auto; display:block;}
.features .caption {background-color:#000; padding:10px 26px 8px;}
.features h4 {font-family:'NobelRegular'; font-size:22px; margin-bottom:.3em;}
.features p {font-size:19px; margin-bottom:.3em;}

/* Preloader */
.preloader {width:100%; height:100%; background-color:#fff; position:absolute; top:0; right:0; bottom:0; left:0; z-index:9999;}
.preloader-status {width:400px; height:400px; line-height:400px; text-align:center; background:url('../img/preloader.gif') no-repeat center; margin:-200px 0 0 -200px; position:absolute; top:50%; left:50%;}

/* Register Page */
.register-section {width:920px; height:520px; border:none; overflow:hidden;}
#register {overflow:hidden !important;}
#register .sec {width:920px; color:#fff;}
#register form {position:relative;}
#register dl {width:460px; float:left; margin-bottom:20px; overflow:hidden;}
#register dl dt, #register dl dd {line-height:30px; float:left;}
#register dl dt {width:140px;}
#register dl dd {width:320px; padding-bottom:20px;}
#register input[type='text'] {width:260px; height:20px; font-size:16px; font-family:'NobelRegular'; line-height:20px; vertical-align:top; color:#333; background-color:#dedede; border:1px solid #4f4f4f; margin:0; padding:4px;}
#register .error {color:#f00; text-shadow:1px 1px 0 #ccc;}

/* Find Out More */
.find-out-more {width:990px; color:#fff; text-align:center; margin-left:-495px; position:absolute; bottom:7%; left:50%;}
.find-out-more h1 {margin-bottom:.25em;}
.find-out-more .list-country {margin-bottom:30px; padding-top:30px;}
.find-out-more .list-country a {color:#fff; border-bottom:1px dotted #fff; padding-bottom:1px;}
.find-out-more .list-country a:hover {border-bottom-style:solid;}
.find-out-more .list-country span {padding:0 16px;}
.find-out-more .btn-youtube {width:215px; height:34px; background:url(../img/btn-youtube.png) no-repeat 0 0; margin:0 auto; display:block;}
.copyright {font-size:15px; margin:.85em 0 0;}

/* Video */
a.btn-video-journey {width:419px; height:233px; background:url(../img/sec-02-vid.jpg) no-repeat left top; margin:0 auto 12px; display:block;}
.video-shadow {width:498px; height:27px; background:url(../img/sec-02-vid-shadow.png) no-repeat center top; position:absolute; top:355px; left:151px; z-index:-1;}
a.btn-video-journey:hover {background-position:left bottom;}
a.btn-close-video {font-size:14px; color:#fff; text-decoration:none; background:#000; border:1px solid #fff; display:inline-block; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; transition:all .5s ease-in-out; opacity:.8; filter:alpha(opacity=80); padding:4px 8px; position:fixed; top:15px; right:15px; z-index:10000;}
a.btn-close-video:hover {color:#000; background:#fff;}